{% extends 'base.html.twig' %}

{% block stylesheet%}

{% endblock %}
{% block body %}
    {% if not app.user  %}

    <h1>bonjour belle inconnue</h1>
        <hr>
<p>ce site vous permet de crée des partie de vos jeux de plateaux préferé comme le monopoli , Dixit est bien d'autres </p>
{% else %}
    <h1>{{ title }}{{ app.user.username }} </h1>
    <hr>
    <p>ce site vous permet de crée des partie de vos jeux de plateaux préferé comme le monopoli , Dixit est bien d'autres </p>

{% endif %}


{% endblock %}


